<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:layout="http://https://ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bán giày cắt lỗ, lỗ vẫn bán</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
<div class="container mx-auto">
    <nav class="flex">
        <div>
            <!--LOGO-->
        </div>

        <div class="flex items-center justify-center space-x-2">
            <div>
                <a href="">Home</a>
            </div>

            <div>
                <a href="">Danh mục sản phẩm</a>
            </div>

            <div>
                <a href="">Tin tức</a>
            </div>

            <div>
                <a href="">Đăng nhập </a>
            </div>

            <div>
                <a href="">Đăng ký</a>
            </div>
        </div>
    </nav>

    <div layout:fragment="content">

    </div>

    <footer class="text-center w-full bg-white">
        Copyright 2021 Nguyen Thanh Luan
    </footer>
</div>
</body>
</html>