<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://https://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{frontend/layout}"
>

<div layout:fragment="content">
    <div class="w-1/3 shadow bg-white rounded mx-auto">
        <h4>Signup</h4>
        <div th:if="${failed!=null}" class="bg-red-500 text-white block w-full">
            <div th:text="${failed}"></div>
        </div>
        <form class="flex space-y-4 flex-col justify-center" method="POST" th:action="@{/do-signup}">
            <input type="email" name="email" placeholder="email"/>
            <input type="text" name="fullname" placeholder="fullname"/>
            <input type="password" name="password" placeholder="password"/>
            <button class="w-1/3 block text-white bg-blue-500">Login</button>
        </form>

        <p>Bạn đã có tài khoản ? <a th:href="@{/login}">Đăng nhập</a></p>
    </div>
</div>