<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org"  xmlns:layout="http://https://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout}"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div layout:fragment="content">
    <div th:if="${failed!=null}" class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h5><i class="icon fas fa-ban"></i> Alert!</h5>
        <div th:text="${failed}"></div>
    </div>

    <div th:if="${success!=null}" class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h5><i class="icon fas fa-check"></i> Alert!</h5>
        <div th:text="${success}"></div>
    </div>

    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Edit Category</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form method="POST" th:action="@{/admin/categories/do-edit}" th:object="${categories}">
            <input type="hidden" th:field="*{id}">
            <div class="card-body">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" th:field="*{name}" class="form-control"  placeholder="Enter name">
                </div>

                <div class="form-group">
                    <label>Status</label>
                    <select th:field="*{status}" class="form-control">
                        <option value="1">Active</option>
                        <option value="0">Inactive</option>
                    </select>
                </div>
            </div>
            <!-- /.card-body -->

            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>

<div layout:fragment="heading">
    Categories/Edit
</div>

<div layout:fragment="breadcrumb">
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
        <li class="breadcrumb-item active"><a th:href="@{/admin/categories/}">Categories</a></li>
        <li class="breadcrumb-item active">Edit</li>
    </ol>
</div>
</body>
</html>