<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:layout="http://https://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout}"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-12">
            <div th:if="${failed!=null}" class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h5><i class="icon fas fa-ban"></i> Alert!</h5>
                <div th:text="${failed}"></div>
            </div>

            <div th:if="${success!=null}" class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h5><i class="icon fas fa-check"></i> Alert!</h5>
                <div th:text="${success}"></div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Bordered Table</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Name</th>
                            <th>Status</th>
                            <th>Thao tác</th>
                        </tr>
                        </thead>

                        <tbody>

                        <tr th:each="item:${listResult.getListCategories()}">
                            <td th:text="${item.getId()}"></td>
                            <td th:text="${item.getName()}"></td>
                            <td>
                                <div th:if="${item.getStatus==1}" class="badge badge-success">Active</div>
                                <div th:if="${item.getStatus==0}" class="badge badge-danger">Inactive</div>
                            </td>
                            <td>
                                <a class="btn btn-danger" onclick="return confirm('Are you sure you want to delete it ?')"
                                   th:href="@{/admin/categories/delete(id=${item.getId()})}">Delete</a>
                                <a class="btn btn-warning" th:href="@{/admin/categories/edit(id=${item.getId()})}">Edit</a>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>

                <!-- /.card-body -->
                <div th:if="${listResult.getTotalPage()>1}" class="card-footer clearfix">
                    <ul class="pagination pagination-sm m-0 float-right">
                        <li th:each="pageNumber:${#numbers.sequence(1, listResult.getTotalPage())}"
                            th:attr="class=${listResult.getActivePage()==pageNumber ? 'active page-item' : 'page-item'}">
                            <a class="page-link" th:href="@{/admin/categories(page=${pageNumber})}" th:text="${pageNumber}"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div layout:fragment="heading">
    Categories
</div>

<div layout:fragment="breadcrumb">
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
        <li class="breadcrumb-item active">Categories</li>
    </ol>
</div>
</body>
</html>